.section {
  padding: 100px 0;
  background: linear-gradient(
    to left bottom,
    #f2bddb,
    #e6bce1,
    #d9bce5,
    #cabde8,
    #bbbde9,
    #aec0ea,
    #a3c2e9,
    #98c4e6,
    #90c8e2,
    #8dcbdb,
    #8fcdd4,
    #94cfcb
  );
  position: relative;
  width: 100%;
  min-height: 100vh;

  .clients__container {
    max-width: 80%;
    padding: 50px 24px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
}

.content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}
